:root {
  --main-color: rgba(33, 33, 33, 1);
  --background-futter-and-main: rgba(47, 48, 58, 1);
  --btn-portfolio: rgba(245, 244, 250, 1);

  --secondary-color: rgba(255, 255, 255, 1);
  --main-background-color: #e5e5e5;
  --hover-logo-btn-color: rgba(33, 150, 243, 1);
  --maint-text-color: rgba(117, 117, 117, 1);
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway;
  --svg-icon-color: rgba(175, 177, 184, 1);
}
body {
  font-family: var(--main-font);
  color: var(--main-color);
  background-color: var(--secondary-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

li {
  list-style-type: none;
}
* {
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: auto;
  padding: 0 15px;
}
/* LOGO */

.logo {
  font-family: var(--secondary-font);
  font-size: 26px;
  font-weight: bold;
  line-height: 1.17;
  color: var(--main-color);
  text-decoration: none;
}
.web {
  color: var(--hover-logo-btn-color);
}
.logo-first {
  display: flex;
  margin-right: 93px;
  padding-top: 24px;
}

/* header */
.header {
  border-bottom: 1px solid #ececec;
}

.nav {
  display: flex;
}

.nav__list {
  display: flex;
  align-items: center;
}

.container-header {
  display: flex;
  justify-content: space-between;
}

.link {
  position: relative;
  font-weight: 500;
  line-height: 1.17;
  color: var(--main-color);
  letter-spacing: 0.02em;
  text-decoration: none;
  display: block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link--current::after,
.nav__link:hover::after {
  position: absolute;
  bottom: -33px;

  content: '';
  height: 4px;
  width: 101%;
  background-color: var(--hover-logo-btn-color);
  border-radius: 2px;
  display: block;
}
.nav__item{
  margin-right: 50px;
  padding-bottom: 32px;
  padding-top: 32px;
}
.nav__link--current{
  color: var(--hover-logo-btn-color);
}

.nav__item:last-child {
  margin: 0;
}

.link:hover,
.link:focus {
  color: var(--hover-logo-btn-color);
}

.contacts {
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--maint-text-color);

  display: flex;
  text-align: center;
  align-items: center;
}

.header__mail,
.header__tel  {
  fill: currentColor;
  margin-right: 10px;
}


/* Main section */
.main__section {
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--background-futter-and-main);
  height: 600px;
  max-width: 1600px;
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/mainecard/main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main__title {
  width: 696px;
  margin: auto;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  text-transform: uppercase;
}

.main__button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  cursor: pointer;
  background-color: var(--hover-logo-btn-color);

  padding: 10px 32px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Модальне вікно  */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: visible;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  min-height: 581px;
  min-width: 528px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.batoni {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #fff;
  margin: 8px 8px 0 0;
  cursor: pointer;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  align-items: center;
}
.batoni:hover {
  color: var(--hover-logo-btn-color);
}
.batoni:focus {
  color: var(--hover-logo-btn-color);
}

/* наші переваги */

.advantage__list{
  display: flex;
  list-style-type: none;
}
.advantage__title {
  font-weight: bold;
  line-height: 1.14;
  margin-bottom: 10px;
  width: 270px;
  height: 16px;
  text-transform: uppercase;
  font-size: 14px;
}
.advantage__item{
  margin-right: 30px;
}
.advantage__image{
  height: 120px;
  align-items: center;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  background-color: var(--btn-portfolio);
}

.advantage__svg{
  width: 70px;
  height: 70px;
}

.advantage__item:last-child {
  margin: 0;
}
.advantage__text {
  width: 270px;
  height: 75px;

  line-height: 1.71;
  color: var(--maint-text-color);
}
/* чем мі занимаемся */
.services-section {
  padding-top: 0;
}
.services {
  margin-bottom: 50px;

  text-align: center;

  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
}
.services-list {
  display: flex;
}
.services-item {
  margin-right: 30px;
}

.services-item:last-child {
  margin: 0;
}

.tumb {
  position: relative;
}
.tumb > .label {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 27px;
  background-color: rgba(47, 48, 58, 0.8);

  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-background-color);
  text-align: center;
}
/* Team */
.team-section {
  background-color: var(--btn-portfolio);
}
.team {
  text-align: center;
  margin-bottom: 50px;

  font-weight: bold;
  font-size: 36px;
  line-height: 1.166;
}
.people-list {
  display: flex;
}
.people-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  background-color: var(--secondary-color);
  margin-right: 30px;
}
.people-item:last-child {
  margin: 0%;
}

.people-title {
  text-align: center;

  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.people-skil {
  text-align: center;
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.18;
  color: var(--maint-text-color);
}
.people-img {
  width: 270px;
  height: 260px;
  margin-bottom: 30px;
}
.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 10px;

  width: 44px;
  height: 44px;

  background-color: #fff;
  border-radius: 50%;
  fill: var(--svg-icon-color);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover {
  background-color: var(--hover-logo-btn-color);
  fill: var(--secondary-color);
}
.socials-link:focus {
  background-color: var(--hover-logo-btn-color);
  fill: var(--secondary-color);
}

.socials-list {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

/* постійні клієнти */
.client {
  display: flex;
  justify-content: center;
}
.client-item {
  margin-right: 30px;
}

.grp-0 {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid rgba(175, 177, 184, 1);
  align-items: center;
  justify-content: center;
  fill: var(--svg-icon-color);
  cursor: pointer;

  border-radius: 4px;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.group {
  background-size: contain;
}
.grp-0:hover {
  border-color: var(--hover-logo-btn-color);

  fill: var(--hover-logo-btn-color);
}
.grp-0:focus {
  border-color: var(--hover-logo-btn-color);

  fill: var(--hover-logo-btn-color);
}

/* Футер */

.log-sec {
  margin-bottom: 20px;
  display: block;

  color: var(--secondary-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-futter-and-main);
}
.address {
  font-style: normal;
  margin-right: 70px;
}
.address-street {
  margin-bottom: 9px;
  line-height: 1.71;
  color: var(--secondary-color);
}
.address-item {
  margin-bottom: 9px;
}

.address-con {
  line-height: 1.71;
}
.address-item:last-child {
  margin: 0;
}
.container-footer {
  display: flex;

  align-items: baseline;
}
.social-link-2 {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--secondary-color);
}
.fot-link {
  display: flex;
}
.foot-link-social {
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 20px;
}

.fot-div-link {
  margin-right: 83px;
}
/* кнопки портфолио */
.button-list {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
}
.butten-item {
  margin-right: 8px;
}
.butten-item:last-child {
  margin: 0%;
}
.button {
  border: 0;
  border-radius: 4px;
  background: rgba(245, 244, 250, 1);

  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  letter-spacing: 0.03em;

  transition-property: color, box-shadow, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover {
  color: var(--secondary-color);
  background-color: var(--hover-logo-btn-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);

  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);

  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.button:focus {
  color: var(--secondary-color);
  background-color: var(--hover-logo-btn-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);

  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);

  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
/* контент портфолио */

.content-list {
  display: flex;
  flex-wrap: wrap;

  margin-right: -30px;
}
.main-portfilio {
  background-color: var(--secondary-color);
}

.content-name {
  margin-bottom: 4px;

  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}
.content-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--maint-text-color);
}
.content-item a {
  text-decoration: none;
}
.content-item {
  margin-right: 30px;
  margin-bottom: 30px;
}
.content-item:nth-child(3n) {
  margin-right: 0;
}
.content-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.content-link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.content-link:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);

  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.content-div {
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.pp {
  position: absolute;
  width: 100%;
  height: 100%;

  transform: translateY(100%);
  left: 0;
  bottom: 0;
  display: flex;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;

  background: rgba(33, 150, 243, 0.9);
  color: var(--secondary-color);

  padding: 63px 24px;
}
.dd {
  position: relative;
  overflow: hidden;
}
.dd:hover .pp {
  transform: translateY(0);
}

.fot-input {
  width: 358px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: var(--secondary-color);
  background: rgba(47, 48, 58, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  margin-right: 12px;
}
.button-telegrm {
  width: 200px;
  display: flex;
  flex-direction: row-reverse;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  cursor: pointer;
  background-color: var(--hover-logo-btn-color);

  padding: 10px 29px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.ee {
  margin-left: 10px;
}
.form-fot {
  display: flex;
}
.label-modal {
  position: relative;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--maint-text-color);

  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-color);
  margin-bottom: 12px;
}
.input-modal {
  margin-top: 4px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.label-modal:hover {
  fill: var(--hover-logo-btn-color);
}
.label-modal:focus-within {
  fill: var(--hover-logo-btn-color);
}
.input-modal:hover {
  border-color: var(--hover-logo-btn-color);
  cursor: pointer;
}
.input-modal:focus-within {
  border-color: var(--hover-logo-btn-color);
}
.textarea-modal {
  margin-top: 4px;
  padding: 12px 15px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
}
.label-checkbox-modal {
  color: var(--maint-text-color);
  line-height: 1.71;
  margin-left: 12px;
  display: flex;
  align-items: center;
}

.span-modal {
  color: var(--hover-logo-btn-color);
  text-decoration: underline;
  margin-left: 4px;
}
.moddal-btn {
  display: flex;
  padding: 10px 55px;
  margin-top: 20px;
  margin-left: 121px;
}
.svg-modal {
  position: absolute;
  top: 53%;
  left: 15px;
}
.checkbox-span {
  display: inline-block;

  width: 15px;
  height: 15px;
  border: 2px solid rgba(33, 33, 33, 1);
  border-radius: 2px;

  margin-right: 8px;
}
.checkbox-modal {
  position: absolute;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.checkbox-modal:checked + .checkbox-span {
  border-color: transparent;
  border-radius: 2px;
  background-image: url('../images/sprite/icn.svg');
  background-position: center;
  background-origin: border-box;
}
